@charset "UTF-8";
/*********** VARIAVEIS ***********/
/*********** CONFIGURAÇÃO ***********/
/* line 15, ../../../Documents/GitHub/centro-cultural/scss/main.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 21, ../../../Documents/GitHub/centro-cultural/scss/main.scss */
html {
  scroll-behavior: smooth;
}

/* line 25, ../../../Documents/GitHub/centro-cultural/scss/main.scss */
li, ul {
  list-style: none;
}

/* line 29, ../../../Documents/GitHub/centro-cultural/scss/main.scss */
a {
  text-decoration: none;
  display: block;
}

/* line 34, ../../../Documents/GitHub/centro-cultural/scss/main.scss */
img {
  max-width: 100%;
  display: block;
}

/*********** MIXINS ***********/
/*********** PÁGINA ***********/
/* line 1, ../../../Documents/GitHub/centro-cultural/scss/_header.scss */
.header {
  background-color: #56CBF9;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 1, ../../../Documents/GitHub/centro-cultural/scss/_header.scss */
  .header {
    height: 150vh;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 1, ../../../Documents/GitHub/centro-cultural/scss/_header.scss */
  .header {
    height: 150vh;
  }
}

/* line 11, ../../../Documents/GitHub/centro-cultural/scss/_header.scss */
.header .logo {
  padding-top: 5rem;
}

/* line 15, ../../../Documents/GitHub/centro-cultural/scss/_header.scss */
.header .img__logo {
  width: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* line 23, ../../../Documents/GitHub/centro-cultural/scss/_header.scss */
.header .nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
}

/* line 31, ../../../Documents/GitHub/centro-cultural/scss/_header.scss */
.header .nav__lista {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 31, ../../../Documents/GitHub/centro-cultural/scss/_header.scss */
  .header .nav__lista {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 31, ../../../Documents/GitHub/centro-cultural/scss/_header.scss */
  .header .nav__lista {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* line 49, ../../../Documents/GitHub/centro-cultural/scss/_header.scss */
.header .nav__link {
  background-color: #234c66;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1px 5px 10px 1px #000;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* line 58, ../../../Documents/GitHub/centro-cultural/scss/_header.scss */
.header .nav__link:hover {
  background-color: #234c66;
  box-shadow: 1px 5px 10px 1px #fff;
  transition: all .6s;
}

/* line 70, ../../../Documents/GitHub/centro-cultural/scss/_header.scss */
.header .nav__link .nav__ico {
  font-size: 1.5rem;
  color: #fff;
}

/* line 76, ../../../Documents/GitHub/centro-cultural/scss/_header.scss */
.header .nav__item {
  font-family: "Russo One", sans-serif;
  color: #fff;
}

/* line 1, ../../../Documents/GitHub/centro-cultural/scss/_slider.scss */
.slider {
  background-color: #000;
  height: 80vh;
  position: relative;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 1, ../../../Documents/GitHub/centro-cultural/scss/_slider.scss */
  .slider {
    height: 50vh;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 1, ../../../Documents/GitHub/centro-cultural/scss/_slider.scss */
  .slider {
    height: 60vh;
  }
}

/* line 14, ../../../Documents/GitHub/centro-cultural/scss/_slider.scss */
.slider .slider__galeria {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  align-items: center;
  position: relative;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 14, ../../../Documents/GitHub/centro-cultural/scss/_slider.scss */
  .slider .slider__galeria {
    height: 50vh;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 14, ../../../Documents/GitHub/centro-cultural/scss/_slider.scss */
  .slider .slider__galeria {
    height: 60vh;
  }
}

/* line 31, ../../../Documents/GitHub/centro-cultural/scss/_slider.scss */
.slider .slider__img {
  position: absolute;
  width: 80vw;
  height: 70vh;
  opacity: 0;
  transition: opacity 600ms;
  box-shadow: 10px 10px 10px 4px #fff;
  border-radius: 10px;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 31, ../../../Documents/GitHub/centro-cultural/scss/_slider.scss */
  .slider .slider__img {
    width: 100vw;
    height: 40vh;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 31, ../../../Documents/GitHub/centro-cultural/scss/_slider.scss */
  .slider .slider__img {
    width: 100vw;
    height: 50vh;
  }
}

/* line 51, ../../../Documents/GitHub/centro-cultural/scss/_slider.scss */
.slider .slider__img.selected {
  opacity: 1;
}

/* line 1, ../../../Documents/GitHub/centro-cultural/scss/_sobre.scss */
.sobre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
  gap: 10rem;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 1, ../../../Documents/GitHub/centro-cultural/scss/_sobre.scss */
  .sobre {
    gap: 1rem;
  }
}

/* line 13, ../../../Documents/GitHub/centro-cultural/scss/_sobre.scss */
.sobre .sobre__img {
  width: 400px;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 13, ../../../Documents/GitHub/centro-cultural/scss/_sobre.scss */
  .sobre .sobre__img {
    width: 280px;
  }
}

/* line 21, ../../../Documents/GitHub/centro-cultural/scss/_sobre.scss */
.sobre .sobre__info {
  width: 500px;
}

/* line 25, ../../../Documents/GitHub/centro-cultural/scss/_sobre.scss */
.sobre .sobre__titulo {
  font-family: "Londrina Solid", cursive;
  font-size: 4rem;
  color: #234c66;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 25, ../../../Documents/GitHub/centro-cultural/scss/_sobre.scss */
  .sobre .sobre__titulo {
    font-size: 2rem;
  }
}

/* line 37, ../../../Documents/GitHub/centro-cultural/scss/_sobre.scss */
.sobre .sobre__p {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 0.6rem;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 37, ../../../Documents/GitHub/centro-cultural/scss/_sobre.scss */
  .sobre .sobre__p {
    font-size: 1rem;
  }
}

/* line 45, ../../../Documents/GitHub/centro-cultural/scss/_sobre.scss */
.sobre .sobre__logos {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* line 51, ../../../Documents/GitHub/centro-cultural/scss/_sobre.scss */
.sobre .sobre__logos .logo__img {
  width: 80px;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 51, ../../../Documents/GitHub/centro-cultural/scss/_sobre.scss */
  .sobre .sobre__logos .logo__img {
    width: 60px;
  }
}

/* line 1, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
.cronograma {
  background-color: #16697A;
  padding: 3rem;
}

/* line 5, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
.cronograma .cronograma__titulo {
  padding-top: 3rem;
  text-align: center;
  margin-bottom: 4rem;
}

/* line 12, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
.cronograma .cronograma__titulo .cronograma__h2 {
  font-family: "Londrina Solid", cursive;
  font-size: 4rem;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 12, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
  .cronograma .cronograma__titulo .cronograma__h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

/* line 22, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
.cronograma .cronograma__titulo .cronograma__p {
  font-family: "Rajdhani", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 22, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
  .cronograma .cronograma__titulo .cronograma__p {
    font-size: 1.5rem;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 34, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
  .cronograma .acordions__base {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 34, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
  .cronograma .acordions__base {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  /* line 34, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
  .cronograma .acordions__base {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

/* line 54, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
.cronograma .acordion__cards {
  margin-bottom: 2rem;
}

/* line 59, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
.cronograma .acordion__titulo {
  font-family: "Londrina Solid", cursive;
  font-size: 4rem;
  color: #56CBF9;
  margin: 0 auto;
  width: 960px;
  text-align: center;
  box-shadow: 5px 2px 4px 2px #fff;
  cursor: pointer;
  border-radius: 10px;
}

/* line 70, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
.cronograma .acordion__titulo:hover {
  background-color: #000;
  transition: all .6s;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 59, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
  .cronograma .acordion__titulo {
    width: 300px;
    font-size: 2rem;
    padding: 1rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 59, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
  .cronograma .acordion__titulo {
    width: 400px;
    font-size: 2rem;
    padding: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  /* line 59, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
  .cronograma .acordion__titulo {
    width: 800px;
    font-size: 2rem;
    padding: 1rem;
  }
}

/* line 94, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
.cronograma .acordion__info {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  perspective: 900px;
  animation: suave .7s ease-in-out;
  padding: 2rem;
  margin-top: 2rem;
}

@keyframes suave {
  from {
    opacity: 0;
    margin-top: -10px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}

/* line 116, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
.cronograma .card {
  margin: 2rem 0;
  box-shadow: 0 0 10px 4px #fff;
  padding: 1rem;
  background-color: #56CBF9;
  transform: rotateX(10deg);
  border-radius: 10px;
  position: relative;
}

/* line 125, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
.cronograma .card:hover {
  transform: rotateX(0deg);
  transition: all 0.6s;
  box-shadow: 0 0 10px 4px #000;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 116, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
  .cronograma .card {
    transform: rotateX(0);
    padding: 2.3rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 116, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
  .cronograma .card {
    transform: rotateX(0);
    padding: 2.3rem;
  }
}

/* line 142, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
.cronograma .acordion__dia {
  font-family: "Londrina Solid", cursive;
  font-size: 3rem;
  background-color: #56CBF9;
  text-align: center;
  position: absolute;
  padding: 1rem;
  border-radius: 50%;
  border: 2px solid #fff;
  top: -65px;
  left: 120px;
  background-color: #234c66;
  color: #fff;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 142, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
  .cronograma .acordion__dia {
    left: 50px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 142, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
  .cronograma .acordion__dia {
    left: 85px;
  }
}

/* line 165, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
.cronograma .acordion__evento {
  font-family: "Londrina Solid", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-size: 1.7rem;
  margin: 2rem 0;
}

/* line 175, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
.cronograma .acordion__local {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 175, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
  .cronograma .acordion__local {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
}

/* line 188, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
.cronograma .acordion__hora {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 188, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
  .cronograma .acordion__hora {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
}

/* line 201, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
.cronograma .acordion__colaborador {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 201, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
  .cronograma .acordion__colaborador {
    font-size: 1.3rem;
  }
}

/* line 214, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
.cronograma .col__ico {
  font-size: 20px;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 214, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
  .cronograma .col__ico {
    font-size: 40px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 214, ../../../Documents/GitHub/centro-cultural/scss/_cronograma.scss */
  .cronograma .col__ico {
    font-size: 20px;
  }
}

/*************  APRESENTAÇÃO - INDEX.HTML  *************/
/* line 2, ../../../Documents/GitHub/centro-cultural/scss/_projetos-index.scss */
.projetos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 2, ../../../Documents/GitHub/centro-cultural/scss/_projetos-index.scss */
  .projetos {
    gap: 3rem;
    height: 170vh;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 2, ../../../Documents/GitHub/centro-cultural/scss/_projetos-index.scss */
  .projetos {
    gap: 2rem;
    height: 170vh;
  }
}

/* line 19, ../../../Documents/GitHub/centro-cultural/scss/_projetos-index.scss */
.projetos .projeto__img {
  width: 600px;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 19, ../../../Documents/GitHub/centro-cultural/scss/_projetos-index.scss */
  .projetos .projeto__img {
    width: 300px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 19, ../../../Documents/GitHub/centro-cultural/scss/_projetos-index.scss */
  .projetos .projeto__img {
    width: 400px;
  }
}

/* line 31, ../../../Documents/GitHub/centro-cultural/scss/_projetos-index.scss */
.projetos .projeto__info {
  width: 500px;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 31, ../../../Documents/GitHub/centro-cultural/scss/_projetos-index.scss */
  .projetos .projeto__info {
    width: 300px;
  }
}

/* line 39, ../../../Documents/GitHub/centro-cultural/scss/_projetos-index.scss */
.projetos .projeto__titulo {
  font-family: "Londrina Solid", cursive;
  font-size: 4rem;
  color: #234c66;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 39, ../../../Documents/GitHub/centro-cultural/scss/_projetos-index.scss */
  .projetos .projeto__titulo {
    font-size: 2.5rem;
  }
}

/* line 51, ../../../Documents/GitHub/centro-cultural/scss/_projetos-index.scss */
.projetos .projeto__p {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 0.6rem;
}

/* line 55, ../../../Documents/GitHub/centro-cultural/scss/_projetos-index.scss */
.projetos .projeto__link {
  padding: 1rem;
  background-color: #234c66;
  color: #fff;
  text-align: center;
  margin: 1rem auto;
  max-width: 12.5rem;
  border-radius: 10px;
  font-family: "Russo One", sans-serif;
  box-shadow: 1px 5px 10px 1px #000;
}

/* line 66, ../../../Documents/GitHub/centro-cultural/scss/_projetos-index.scss */
.projetos .projeto__link:hover {
  background-color: #234c66;
  box-shadow: 5px 1px 5px 1px #000;
  transition: all .6s;
}

/*************  LANDING PAGE PROJETOS  *************/
/* line 2, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.header__projetos {
  height: 70vh;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 2, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
  .header__projetos {
    height: 80vh;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 2, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
  .header__projetos {
    height: 90vh;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 13, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
  .header__projetos .img__logo {
    width: 300px;
  }
}

/* line 20, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.titulo__principal {
  font-family: "Londrina Solid", cursive;
  font-size: 4rem;
  color: #234c66;
  padding: 4rem;
  text-align: center;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 20, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
  .titulo__principal {
    font-size: 2rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 20, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
  .titulo__principal {
    font-size: 2.5rem;
  }
}

/*************  CAPOEIRA  *************/
/* line 37, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.capoeira__projeto {
  padding-bottom: 4rem;
}

/* line 40, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.capoeira__projeto .capoeira {
  background-image: url("../img/projetos/background-capoeira.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-bottom: 6rem;
}

/* line 49, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.capoeira__projeto .capoeira .capoeira__titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Londrina Solid", cursive;
  font-size: 10rem;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 49, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
  .capoeira__projeto .capoeira .capoeira__titulo {
    font-size: 5rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 49, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
  .capoeira__projeto .capoeira .capoeira__titulo {
    font-size: 6rem;
  }
}

/* line 68, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.capoeira__projeto .capoeira__conteudo {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

/* line 77, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.capoeira__projeto .capoeira__info {
  max-width: 600px;
}

/* line 81, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.capoeira__projeto .capoeira__p {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 0.6rem;
}

/* line 85, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.capoeira__projeto .swiper-slide-capoeira {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

/* line 92, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.capoeira__projeto .swiper-slide-capoeira img {
  display: block;
  width: 100%;
  box-shadow: 1px 5px 10px 1px #000;
  border-radius: 10px;
}

/*************  MUSICA  *************/
/* line 101, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.musica__projeto {
  padding-bottom: 4rem;
}

/* line 104, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.musica__projeto .musica {
  background-image: url("../img/projetos/background-musica.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-bottom: 6rem;
}

/* line 113, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.musica__projeto .musica .musica__titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Londrina Solid", cursive;
  font-size: 10rem;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 113, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
  .musica__projeto .musica .musica__titulo {
    font-size: 5rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 113, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
  .musica__projeto .musica .musica__titulo {
    font-size: 6rem;
  }
}

/* line 133, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.musica__projeto .musica__conteudo {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

/* line 140, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.musica__projeto .musica__conteudo .music__info {
  max-width: 500px;
}

/* line 144, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.musica__projeto .musica__conteudo .music__p {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 0.6rem;
}

/* line 149, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.musica__projeto .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 155, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.musica__projeto .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

/* line 162, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.musica__projeto .swiper-slide img {
  display: block;
  width: 100%;
  box-shadow: 1px 5px 10px 1px #000;
  border-radius: 10px;
}

/*************  CINEMA  *************/
/* line 172, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.cinema__projeto {
  padding-bottom: 4rem;
}

/* line 175, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.cinema__projeto .cinema {
  background-image: url("../img/projetos/background-cinema.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-bottom: 6rem;
}

/* line 184, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.cinema__projeto .cinema .cinema__titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Londrina Solid", cursive;
  font-size: 10rem;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 184, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
  .cinema__projeto .cinema .cinema__titulo {
    font-size: 5rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 184, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
  .cinema__projeto .cinema .cinema__titulo {
    font-size: 6rem;
  }
}

/* line 203, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.cinema__projeto .cinema__conteudo {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}

/* line 211, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.cinema__projeto .cinema__conteudo .cinema__info {
  max-width: 500px;
}

/* line 215, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.cinema__projeto .cinema__conteudo .cinema__p {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 0.6rem;
}

/* line 221, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.cinema__projeto .swiper-slide-cinema {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

/* line 228, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.cinema__projeto .swiper-slide-cinema img {
  display: block;
  width: 100%;
  box-shadow: 1px 5px 10px 1px #000;
  border-radius: 10px;
}

/*************  ARTESANATO  *************/
/* line 238, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.art__projeto {
  padding-bottom: 4rem;
}

/* line 241, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.art__projeto .artesanato {
  background-image: url("../img/projetos/background-artesanato.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-bottom: 6rem;
}

/* line 251, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.art__projeto .art__titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Londrina Solid", cursive;
  font-size: 10rem;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 251, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
  .art__projeto .art__titulo {
    font-size: 4rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 251, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
  .art__projeto .art__titulo {
    font-size: 5rem;
  }
}

/* line 269, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.art__projeto .art__conteudo {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}

/* line 281, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.art__projeto .art__conteudo .art__info {
  max-width: 500px;
}

/* line 285, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.art__projeto .art__conteudo .art__p {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 0.6rem;
}

/* line 290, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.art__projeto .swiper-slide-art {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

/* line 297, ../../../Documents/GitHub/centro-cultural/scss/_projetos-page.scss */
.art__projeto .swiper-slide-art img {
  display: block;
  width: 100%;
  box-shadow: 1px 5px 10px 1px #000;
  border-radius: 10px;
}

/* line 1, ../../../Documents/GitHub/centro-cultural/scss/_museu.scss */
.museu {
  background-image: url("../img/background-museu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 1, ../../../Documents/GitHub/centro-cultural/scss/_museu.scss */
  .museu {
    height: 120vh;
  }
}

/* line 18, ../../../Documents/GitHub/centro-cultural/scss/_museu.scss */
.museu .museu__info {
  max-width: 37.5rem;
}

/* line 22, ../../../Documents/GitHub/centro-cultural/scss/_museu.scss */
.museu .projeto__titulo {
  font-family: "Londrina Solid", cursive;
  font-size: 4rem;
  color: #56CBF9;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 22, ../../../Documents/GitHub/centro-cultural/scss/_museu.scss */
  .museu .projeto__titulo {
    font-size: 3rem;
  }
}

/* line 34, ../../../Documents/GitHub/centro-cultural/scss/_museu.scss */
.museu .museu__p {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 0.6rem;
  color: #fff;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 34, ../../../Documents/GitHub/centro-cultural/scss/_museu.scss */
  .museu .museu__p {
    font-size: 1rem;
  }
}

/* line 43, ../../../Documents/GitHub/centro-cultural/scss/_museu.scss */
.museu .museu__link {
  padding: 1rem;
  background-color: #234c66;
  color: #fff;
  text-align: center;
  margin: 1rem auto;
  max-width: 12.5rem;
  border-radius: 10px;
  font-family: "Russo One", sans-serif;
  box-shadow: 1px 5px 10px 1px #fff;
}

/* line 54, ../../../Documents/GitHub/centro-cultural/scss/_museu.scss */
.museu .museu__link:hover {
  background-color: #234c66;
  box-shadow: 5px 1px 5px 1px #fff;
  transition: all .6s;
}

/* line 1, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
.footer {
  background-color: #56CBF9;
}

/* line 5, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
.footer .rodape {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 3.5rem 0;
}

/* line 15, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
.footer .logo__rodape {
  width: 300px;
  margin: 0 auto;
}

/* line 20, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
.footer .rodape__info {
  max-width: 520px;
}

/* line 24, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
.footer .rodape p {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 0.6rem;
}

/* line 28, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
.footer .redes__sociais {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

/* line 35, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
.footer .rede__img:hover {
  box-shadow: 2px 2px 10px 2px #000;
  transition: all .6s;
}

/* line 40, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
.footer .rodape__endereco {
  padding: 1rem;
}

/* line 44, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
.footer .endereco__titulo {
  font-family: "Russo One", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

/* line 53, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
.footer .endereco__info {
  background-color: #234C66;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px #000;
}

/* line 60, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
.footer .rodape__rua,
.footer .rodape__bairro,
.footer .rodape__cidade {
  display: flex;
  gap: .5rem;
  align-items: center;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 60, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
  .footer .rodape__rua,
  .footer .rodape__bairro,
  .footer .rodape__cidade {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}

/* line 77, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
.footer .rodape__horarios {
  margin-top: 2rem;
}

/* line 82, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
.footer .rodape__func {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  background-color: #37769c;
  box-shadow: 2px 2px 10px 2px #000;
  padding: 0.8rem;
  border-radius: 10px;
}

/* line 92, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
.footer .funcionamento {
  font-family: "Russo One", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

/* line 99, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
.footer .hora__semana,
.footer .hora__almoco {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

@media (min-width: 0px) and (max-width: 480px) {
  /* line 99, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
  .footer .hora__semana,
  .footer .hora__almoco {
    font-size: 1rem;
    padding-bottom: 0.4rem;
  }
}

/* line 115, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
.footer .desenvolvedor {
  padding: 0.8rem;
  background-color: #000;
  text-align: center;
}

/* line 121, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
.footer .img__dev {
  margin: 0 auto;
}

/* line 125, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
.footer .dev__dev p {
  color: #fff;
  font-family: "Russo One", sans-serif;
}

/* line 130, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
.footer .dev__link {
  max-width: 300px;
  margin: 0 auto;
  padding: .4rem;
}

/* line 136, ../../../Documents/GitHub/centro-cultural/scss/_footer.scss */
.footer .dev__link:hover {
  background-color: #56CBF9;
  border-radius: 10px;
  transition: all .6s;
}

/*# sourceMappingURL=main.css.map */