/*************  LANDING PAGE PROJETOS  *************/
.container-projetos {
  background-image: url("../img/projetos/background-projetos.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-projetos .titulo__principal {
  text-align: center;
  background-color: blue;
}

.container-projetos .subtitulo {
  text-align: center;
  background-color: blue;
}
