@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Spinnaker&family=Voltaire&display=swap');

:root {
    --fonte-titulos: 'Voltaire', sans-serif;
    --fonte-subtitulo: 'Satisfy', cursive;
    --fonte-corpo: 'Spinnaker', sans-serif;
    --size-titulos: 4rem;
    --size-subtitulo: 2rem;
    --size-corpo: 1.2rem;
    --cor-header: #7699D4;
    --cor-section1: #469ED8;
    --cor-section2: #05299E;
    --cor-section3: #DEC0F1;
    --cor-botoes: #5941A9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    display: block;
}

ul, li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

/**************** HEADER - CABECALHO ***************/
.header {
    background-color: var(--cor-section1);
}


.nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 100px;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.icone-menu {
    display: none;
    width: 50px;
    /* margin: 0 auto; */
}

.nav img {
    max-width: 80px;
    margin-left: 20px;
}

.nav-itens {
    padding: 0.5rem;
    color: #000;
    box-shadow: 2px 1px 6px 1px #000;
    font-family: var(--fonte-titulos);
    font-size: var(--size-corpo);
    border-radius: 6px;
}

.nav-itens:hover {
    box-shadow: 1px 1px 1px 1px #fff;
    transition: all 0.6s;
}

/**************** MAIN - CONTEUDO ***************/

/**************** SOBRE NÓS ***************/
.sobre-nos {
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-section2);
    border-top: 3px solid #000;
}

.img-sobre-nos {
    width: 450px;
}

.historico {
    max-width: 550px;
    margin-bottom: 4rem;
}

.historico h1 {
    font-family: var(--fonte-subtitulo);
    font-size: var(--size-titulos);
    text-align: center;
    color: var(--cor-section1);
}

.historico p {
    padding: 0.5rem;
    font-family: var(--fonte-corpo);
    line-height: 1.4;
    letter-spacing: 0.5px;
    margin: 0 auto;
    color: #fff;
}

/**************** AGENDA ***************/
.agenda {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.agenda-info {
    margin-top: 5rem;
}

.agenda-info h2 {
    font-family: var(--fonte-subtitulo);
    font-size: var(--size-titulos);
    text-align: center;
    margin-bottom: 2rem;
}

.agenda-info p {
    font-family: var(--fonte-corpo);
    line-height: 1.4;
    letter-spacing: 0.5px;
    width: 500px;
    margin-bottom: 1rem;
}

.img-agenda {
    width: 500px;
}

/**************** CARDS-AGENDA ***************/
.acordion-cards {
    padding-bottom: 3rem;
}

.janeiro {
    margin: 0 auto;
    max-width: 920px;
}

.fevereiro {
    margin: 0 auto;
    max-width: 920px;
}

.mês {
    text-align: center;
    font-family: var(--fonte-titulos);
    font-size: var(--size-subtitulo);
    padding: 1rem;
    background-color: var(--cor-header);
    box-shadow: 1px 1px 10px 1px #000;
    cursor: pointer;
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 5rem;
    perspective: 50px;
}

.card-info {
    padding: 1rem;
    box-shadow: 1px 1px 10px 1px #000;
    transform: rotateX(1deg);
    background-color: var(--cor-section1);
    opacity: 0.7;
    border-radius: 6px;
    
}

.card-info:hover {
    transform: rotateX(0deg);
    transition: all 0.6s;
    opacity: 1.0;
}

.card-info h2 {
    font-family: var(--fonte-titulos);
    font-size: var(--size-subtitulo);
    text-align: center;
    background-color: yellow;
    border-radius: 50%;
    padding: 2rem;
    position: relative;
    bottom: 60px;
    border: solid 1px #000;
}

.card-info p {
    font-family: var(--fonte-corpo);
    position: relative;
    bottom: 30px;
    font-weight: bold;
    padding: 0.2rem;
}

/**************** PROJETOS ***************/
.projetos {
    background-color: var(--cor-section3);
    padding: 5rem;
}

.projeto {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.img-projeto {
    width: 31.25rem;
}

.projeto-desc {
    width: 31.25rem; ;
}

.projeto-desc h2 {
    font-family: var(--fonte-subtitulo);
    font-size: var(--size-titulos);
    text-align: center;
    margin-bottom: 1rem;
}

.projeto-desc p {
    font-family: var(--fonte-corpo);
    padding: 0.5rem;
}

.projeto-desc a {
    margin: 0 auto;
    padding: 0.5rem 0.75rem;
    background-color: var(--cor-botoes);
    width: 160px;
    text-align: center;
    color: #fff;
    font-family: var(--fonte-titulos);
    font-size: var(--size-corpo);
    border-radius: 6px;
}

.projeto-desc a:hover {
    background-color: var(--cor-section1);
    transition: all 0.6s;
    color: #000;
}

/**************** GALERIA  ***************/
.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.img-galeria {
    width: 600px;
}

.galeria-titulo h2 {
    font-family: var(--fonte-subtitulo);
    font-size: var(--size-titulos);
    text-align: center;
    margin-bottom: 1rem;
}

.galeria-titulo p {
    font-family: var(--fonte-corpo);
    width: 500px;
    padding: 0.5rem;
}

.galeria-titulo p:nth-child(3) {
    text-align: center;
    margin-bottom: 0.5rem;
}

.galeria-titulo a {
    margin: 0 auto;
    padding: 0.5rem 0.75rem;
    background-color: var(--cor-botoes);
    width: 160px;
    text-align: center;
    color: #fff;
    font-family: var(--fonte-titulos);
    font-size: var(--size-corpo);
    border-radius: 6px;
}

.galeria-titulo a:hover {
    background-color: var(--cor-section1);
    transition: all 0.6s;
    color: #000;
}

/**************** MUSEU - Pe.GERALDO ***************/
.padre {
    margin-top: 3rem;
    background-color: var(--cor-section3);
}

.padre-galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.museu-info h2 {
    font-family: var(--fonte-subtitulo);
    font-size: var(--size-titulos);
    text-align: center;
}

.museu-info p {
    font-family: var(--fonte-corpo);
    width: 500px;
    padding: 0.5rem;
}

.museu-info p:nth-child(3) {
    text-align: center;
    margin-bottom: 0.5rem;
}

.museu-info a {
    margin: 0 auto;
    padding: 0.5rem 0.75rem;
    background-color: var(--cor-botoes);
    width: 160px;
    text-align: center;
    color: #fff;
    font-family: var(--fonte-titulos);
    font-size: var(--size-corpo);
    border-radius: 6px;
}

.museu-info a:hover {
        background-color: var(--cor-section1);
        transition: all 0.6s;
        color: #000;
}

.img-museu-principal {
    width: 300px;
}

/**************** COLABORADORES ***************/
.colaboradores {
    padding-bottom: 3rem;
    border-bottom: 2px solid #000;
}

.titulo-colaboradores {
    font-family: var(--fonte-subtitulo);
    font-size: var(--size-titulos);
    text-align: center;
    margin: 3rem 0;
}

.equipe-col {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    perspective: 150px;
}

.card-colaborador {
    text-align: center;
    background-color: skyblue;
    width: 220px;
    box-shadow: 1px 1px 10px 1px #000;
    opacity: 0.8;
    transform: rotateX(2deg);
    padding: 1rem;
    border-radius: 6px;
}

.card-colaborador:hover {
    transform: rotateX(0deg);
    transition: all 0.6s;
    opacity: 1.0;
}

.card-colaborador h2 {
    font-family: var(--fonte-titulos);
    font-size: var(--size-corpo);
    margin-top: 0.5rem;
}

.card-colaborador p {
    font-family: var(--fonte-corpo);
}


.img-perfil-colaborador {
    width: 120px;
    border-radius: 50%;
    margin: 0 auto;
}

.mulher {
    background-color: var(--cor-section3);
 
}

/**************** FOOTER - RODAPÉ ***************/
.footer {
    background-color: #05299E;
    /* height: 600px; */
} 

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    justify-items: center;
    align-items: center;
    
}

.footer-container .card-footer {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.img-footer-icone {
    width: 200px;
}

.card-footer {
    width: 340px;
    /* background-color: tomato; */
    /* text-align: center; */
    height: 600px;

    /* margin: 0 auto; */
}

.card-footer h2 {
    font-family: var(--fonte-titulos);
    font-size: var(--size-subtitulo);
}

.localizacao h2 {
    font-family: var(--fonte-titulos);
    font-size: var(--size-subtitulo);
    padding: 0.5rem;
}

.localizacao p {
    font-family: var(--fonte-corpo);
    font-size: var(--size-corpo);
    padding: 0.2rem;
}

.midia-social {
    width: 40px;
   
}

.redes-sociais {
    display: flex;
    gap: 0.5rem;
}


/**************** RESPONSIVIDADE ***************/
@media(min-width: 320px) and (max-width: 600px) {
    .img-sobre-nos {
        width: 300px;
    }

    .historico h1 {
        font-size: 2.3rem;
    }

    .historico p {
        font-size: 0.75rem;
    }

    .mês {
        width: 170px;
        margin: 0 auto;
    }

    .t-fevereiro {
        width: 190px;
    }

    .agenda-info h2 {
        font-size: 3rem;
    }

    .agenda-info p {
        font-size: 0.75rem;
        padding: 0.5rem;
        width: 310px;
        margin-bottom: 0rem;
    }

    .img-agenda {
        width: 18.75rem;
    }

    .cabecalho-titulo-pro {
        margin-bottom: 0rem;
    }

    .cabecalho-titulo-pro h2 {
        font-size: 3rem;
        
    }

    .projeto-info {
        margin-bottom: 0rem;
    }

    .projeto-desc {
        width: 300px;
        /* display: block; */
        right: 0rem;
        padding: 0.5rem;
    }

    .projeto-desc h2 {
        font-size: 4rem;
    }

    .projeto-desc p {
        width: 18.75rem;
    }

    .img-galeria {
        width: 18.75rem;
    }

    .galeria-titulo h2 {
        font-size: 2.4rem;
    }

    .galeria-titulo p {
        width: 18.75rem;
    }

    .museu-info h2 {
        font-size: 2.4rem;
    }

    .museu-info p {
        width: 18.75rem;
    }

    .titulo-colaboradores {
        font-size: 2.4rem; ;
    }

    .equipe-col {
        gap: 1rem;
        perspective: 0px;
    }
    
    .card-colaborador {
        transform: rotateX(0deg);
        padding: 1rem;
        border-radius: 6px;
    }
    
    .card-colaborador:hover {
        transform: rotateX(0deg);
        transition: all 0.6s;
        opacity: 1.0;
        box-shadow: 1px 1px 1px 1px #000;
    }

    .footer-container {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .card-footer {
        height: 300px;
    }
}

@media (max-width: 700px) {
    .header {
        height: 500px;
        /* padding-bottom: 2rem; */
    }
    
    .icone-menu {
        display: block;
        text-align: center;
    }

    .nav-menu {
        display: none;
        
    }

    .nav-menu.ativo {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        margin: 0 auto;
        width: 100vw;
        
    }

    .nav-itens {
        width: 10rem;
        margin: 0 auto;
        text-align: center;
    }
}

@media(min-width: 601px) and (max-width: 1024px) {
    .acordion-cards {
        width: 400px;
    }
    
    .footer-container {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .card-footer {
        height: 320px;
    }
}