.artistas {
    height: 70vh;
    display: grid;
    place-content: center;

        @include celular {
            height: 85vh;
        }

    .artistas__conteudo {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .artistas__titulo--h2 {
        color: $cor-links;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
        

            @include celular {
                font-size: 2.2rem;
                padding-top: 2rem;
            }
    }

    .artista__btn {
        display: flex;
        justify-content: center;
    }

    .artista__btn--saibaMais {
        padding: 1rem;
        background-color: $cor-links;
        color: #fff;
        text-align: center;
        margin: 1rem auto;
        max-width: 12.5rem;
        border-radius: 10px;
        font-family: $fonte-titulo;
        font-size: 1.2rem;
        box-shadow: 1px 5px 10px 1px #000;
        border: none;
        cursor: pointer;

            &:hover  {
                background-color: $cor-links;
                box-shadow: 5px 1px 5px 1px #000;
                transition: all .6s;
            }
    }



    /******* MODAIS ARTISTAS *******/
    .artistas__modal {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $cor-links;
        z-index: 2;
        animation: slidein 1s forwards;
        overflow-y: auto;
        padding-bottom: 2rem;
    }

    .artistas__btnFechar {
        width: 45px;
        position: fixed;
        top: 10px;
        right: 20px;
        cursor: pointer;

        &:hover {
            width: 44px;
            transition: all .4s;
        }

        @include celular {
            width: 40px;
            top: 10px;
            right: 8px;
        }
    }

    .artistas__modal--titulo {
        text-align: center;
        font-family: $fonte-subtitulo;
        color: #fff;
        margin: 2.5rem 0rem;
        font-size: 3rem;
        user-select: none;
    }

    .artistas__links {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        @include celular {
            display: flex;
            gap: .4rem;
            
        }
    }

    .artistas__link--btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 20%;
        border-bottom-right-radius: 20%;
        padding: .2rem;
        border: none;
        background: linear-gradient(45deg, #56CBF9, #16697A);
        box-shadow: 4px 1px 1px #fff;
        color: #fff;
        cursor: pointer;

        &:hover {
            background: linear-gradient(10deg, #fff, #fff);
            transition: all .4s;
            color: #000;
            box-shadow: 4px 1px 1px $cor-header;
        }
    }

    .artistas__btn {
        font-family: $fonte-corpo;
        font-weight: bold;
        font-size: 1.4rem;
        padding: .4rem;

        @include celular {
            font-size: 1rem;
        }
    }

    .artistas__modal--conteudo {
        margin-top: 4rem;
        position: relative;
    }

    /******** MUSICA ********/
    .artistas__musica--titulo {
        text-align: center;
        font-family: $fonte-subtitulo;
        color: #fff;
        margin: 2.5rem 0rem;
        font-size: 3rem;
        user-select: none;
        font-weight: 500;
    }

    .artistas__musica--cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .artistas__musica--card {
        background: linear-gradient(45deg, #56CBF9, #16697A);
        width: 330px;
        box-shadow: 1px 0px 10px 4px #fff;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: .3rem;

    }

    .artista__img {
        width: 100px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-top: 1rem;
    }

    .artista__modal {
        position: absolute;
        display: none;
    }

    .artista__modal.ativo {
        display: block;
    }

}

.artistas__modal.ativo {
    display: block;
    transform: slideOn 1s forwards;
}

@keyframes slideOn {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }