.artistas {
    height: 70vh;
    display: grid;
    place-content: center;

    .artistas__conteudo {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .artista__btn {
        display: flex;
        justify-content: center;
    }

    .artista__btn--saibaMais {
        padding: 1rem;
        background-color: $cor-links;
        color: #fff;
        text-align: center;
        margin: 1rem auto;
        max-width: 12.5rem;
        border-radius: 10px;
        font-family: $fonte-titulo;
        font-size: 1.2rem;
        box-shadow: 1px 5px 10px 1px #000;
        border: none;
        cursor: pointer;

            &:hover  {
                background-color: $cor-links;
                box-shadow: 5px 1px 5px 1px #000;
                transition: all .6s;
            }
    }




}