.cronograma {
    background-color: $cor-section1;

        .cronograma__titulo {
            padding-top: 3rem;
            text-align: center;   
            margin-bottom: 4rem;

            .cronograma__h2 {
                font-family: $fonte-subtitulo;
                font-size: $size-titulo;
            }

            .cronograma__p {
                font-family: $fonte-corpo;
                font-size: $size-corpo;
                font-weight: bold;
                color: #fff;
            }
        }

    .acordion__card {
        background-color: darkgoldenrod;
        width: 940px;
        margin: 0 auto;
        text-align: center;
        border-radius: 10px;
        box-shadow: 4px 4px 10px 4px #000;
    }   
    
    // .acordion__info {
    //     width: 350px;
    // }

    .acordion__titulo {
        font-family: $fonte-subtitulo;
        font-size: $size-titulo;
        color: $cor-header;
        margin: 0 auto;
        width: 960px;
        text-align: center;
        box-shadow: 5px 2px 4px 2px #fff;
        cursor: pointer;
        border-radius: 10px;

            &:hover {
                background-color: #000;
                transition: all .6s;
            }
    }



    .acordion__info {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
        perspective: 500px;
        
    }

    .card {
        margin-top: 2rem;
        box-shadow: 0 0 10px 4px #fff;
        padding: 1rem;
        background-color: $cor-header;
        transform: rotate3d(1,0,0, 10deg);

            &:hover {
                transform: rotate3d(0,0,0, 10deg);
                transition: all 0.6s;
                box-shadow: 0 0 10px 4px #000;
            }
    }

    .acordion__dia {
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        background-color: $cor-header;
        text-align: center;
    }

    .acordion__evento {
        font-family: $fonte-subtitulo;
        display: flex;
        align-items: center;
        gap: 0.4rem;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    
    .acordion__local {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        font-family: $fonte-corpo;  
        font-size: 1.5rem;  
        font-weight: bold;
    }
    .acordion__hora {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        font-family: $fonte-corpo;  
        font-size: 1.5rem;  
        font-weight: bold;
    }
    .acordion__colaborador {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        font-family: $fonte-corpo;  
        font-size: 1.5rem;  
        font-weight: bold;

    }

        

}