.cronograma {
    background-color: $cor-section1;

        .cronograma__titulo {
            padding-top: 3rem;
            text-align: center;   

            .cronograma__h2 {
                font-family: $fonte-subtitulo;
                font-size: $size-titulo;
            }

            .cronograma__p {
                font-family: $fonte-corpo;
                font-size: $size-corpo;
                font-weight: bold;
            }
        }

    .acordion__card {
        background-color: darkgoldenrod;
        width: 940px;
        margin: 0 auto;
        text-align: center;
    }    

    .acordion__titulo {
        font-family: $fonte-subtitulo;
        font-size: $size-titulo;
        color: #fff;
    }
        

}