.cronograma {
    background-color: $cor-section1;

        .cronograma__titulo {
            padding-top: 3rem;
            text-align: center;   

            .cronograma__h2 {
                font-family: $fonte-subtitulo;
                font-size: $size-titulo;
            }

            .cronograma__p {
                font-family: $fonte-corpo;
                font-size: $size-corpo;
                font-weight: bold;
            }
        }

    .acordion__card {
        background-color: darkgoldenrod;
        width: 940px;
        margin: 0 auto;
        text-align: center;
        border-radius: 10px;
        box-shadow: 4px 4px 10px 4px #000;
    }   
    
    // .acordion__info {
    //     width: 350px;
    // }

    .acordion__titulo {
        font-family: $fonte-subtitulo;
        font-size: $size-titulo;
        color: #fff;
        margin: 0 auto;
        width: 960px;
        text-align: center;
    }



    .acordion__info {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    .card {
        margin-top: 2rem;
        border: 1px solid #000;
        padding: 1rem;
    }

    .acordion__dia {
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        background-color: darkorchid;
        border-radius: 50%;
        text-align: center;
    }

    .acordion__evento,
    .acordion__local,
    .acordion__hora,
    .acordion__colaborador {
        font-family: $fonte-corpo;  
        font-size: 1.5rem;  
        font-weight: bold;

    }

        

}