.equipe {
    height: 80vh;
    margin-bottom: 4rem;

    .equipe__titulo {
        font-family: $fonte-subtitulo;
        font-size: $size-titulo;
        color: $cor-links;
        padding: 1rem;
        text-align: center;
    
            @include celular {
                font-size: 2.5rem;

            }
    }

    .equipe__cards {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .equipe__card {
        background: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
        width: 300px;
        height: 300px;
        

    }

    .equipe__card--cabecalho {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        padding: 1rem 0rem;
    }


    .equipe__personImg {
        width: 80px;
        border-radius: 100%;
        border: 1px solid #000;
    }

    





}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
