.equipe {
    height: 75vh;
    margin-bottom: 2rem;

    .equipe__titulo {
        font-family: $fonte-subtitulo;
        font-size: $size-titulo;
        color: $cor-links;
        padding: 1rem;
        text-align: center;
    
            @include celular {
                font-size: 2.5rem;

            }
    }

    // .equipe__container {
    //     height: 60vh;
    //     display: grid;
    //     place-content: center;
    // }


    .equipe__card {
        background: linear-gradient(45deg, #56CBF9, #16697A);
        width: 300px;
        height: 300px;
        box-shadow: 10px 0px 10px 4px #000;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .equipe__pessoa {
        display: flex;
        justify-content: center;
    }


    .equipe__pessoaImg {
        width: 100px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-top: 1rem;

    }

    .equipe__card--nome {
        color: #fff;
        text-align: center;
        margin-top: 1rem;
        font-size: 1.5rem;
        font-family: $fonte-titulo;
        font-weight: 100;
    }

    .equipe__card--cargo {
        color: #fff;
        text-align: center;
        font-size: 1.5rem;
        font-family: $fonte-corpo;
        font-weight: 100;
    }

    .equipe__card--projeto {
        margin-top: .5rem;
    }

    .equipe__card--projetoNome {
        text-align: center;
        background-color: #000;
        color: #fff;
        font-size: 1.5rem;
        font-family: $fonte-titulo;
        font-weight: 100;
        padding: .5rem 0rem;
        

    }

    .equipe__card--midias {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        margin-top: .6rem;
    }

    .equipe__card--icoSocial {
        width: 30px;
        cursor: pointer;

        &:hover {
            width: 29px;
        }
    }


}



.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
