.header {
    background-color: $cor-header;
        @include celular {
            height: 50vh;
        }

        @include tablet {
            height: 150vh;
        }

        .logo {
            padding-top: 5rem;
        }

        .img__logo {
            width: 360px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;

                @include celular {
                    width: 300px;
                }
           
        }

        .icone__mobile {
            width: 70px;
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
            cursor: pointer;

                @include celular {
                    display: block;
                    width: 60px;
                }

                @include tablet {
                    display: block;
                    width: 60px;
                }
        }

        .nav {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            // height: 30vh;
            

             @include celular {
                display: grid;
                justify-items: center;
             }
        }
         
        .nav__lista {
            display: none;
            flex-direction: column;
            flex-wrap: wrap;
            gap: .3rem;
            position: fixed;
            top: 65px;
            left: 5px;
            z-index: 1;
            animation: suave .5s forwards;

                @include celular {
                    padding: 0.5rem;
                    display: none;
                    grid-template-columns: 1fr;
                    gap: 0rem;
                    position: fixed;
                    top: 50px;
                    left: 0;
                    transition: all .5s;
                }  

                @include tablet {
                    padding: 0.5rem;
                    display: grid;
                    grid-template-columns: 1fr;
                } 
        }

        .nav__lista.ativo {
            display: flex;
            z-index: 1;     
        }

        .nav__link {
            background-color: $cor-links;
            padding: 1rem;
            border-radius: 5px;
            box-shadow: 1px 5px 10px 1px #000;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            border: 1px solid #fff;

                &:hover  {
                    background-color: #fff;
                    box-shadow: 1px 5px 10px 1px #fff;
                    transition: all .6s;
                }

                &:hover .nav__ico {
                    color: #000;
                }

                &:hover .nav__item {
                    color: #000;
                }
            
            @include celular {
                padding: 0.5rem;
            }    

            .nav__ico {
                font-size: 1.4rem;
                color: #fff;
            }    
        }

        .nav__item {
            font-family: $fonte-titulo;
            color: #fff;
            font-size: 1rem;
        }


}

@keyframes suave {
    from {
        opacity: 0;
        margin-top: 0px;
    } 
    
    to {
        opacity: 1;
        margin-top: 20px;
    }
}

