.historia {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url("../img/historia/background-historia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 110vh;

    @include celular {
        height: 115vh;
        
    }

    .historia__conteudo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 3rem;
    }

    .historia__titulo {
        color: $cor-header;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
        

            @include celular {
                font-size: 2.2rem;
                padding-top: 2rem;
            }

    }

    .historia__info--img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .historia__logo {
        width: 300px;
    }

    .historia__info {
        width: 400px
    }

    .historia__info--p {
        @include paragrafo;
        color: #fff;
    }

    .historia__link--btn {
        display: flex;
        justify-content: center;
    }

    .historia__link {
        padding: 1rem;
        background-color: $cor-links;
        color: #fff;
        text-align: center;
        margin: 1rem auto;
        max-width: 12.5rem;
        border-radius: 10px;
        font-family: $fonte-titulo;
        font-size: 1.2rem;
        box-shadow: 1px 5px 10px 1px #fff;
        border: none;
        cursor: pointer;


            &:hover  {
                background-color: $cor-links;
                box-shadow: 5px 1px 5px 1px #fff;
                transition: all .6s;
            }
    }

    /******** MODAL HISTORIA ********/
    .historia__container {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background-color: #fff;
        z-index: 4;
    }

    .historia__modal--cabecalho {
        background: linear-gradient(
            rgba(0,0,0, 0.1),
            rgba(0,0,0, 0.1)),

            url("../img/historia/modal-fotos/modal-cabecalho.webp");
            height: 100vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;

            display: grid;
            place-content:  center;
    }

    .historia__modal--titulo {
        color: $cor-header;
        font-family: $fonte-subtitulo;
        font-size: 6rem;
        text-align: center;
        
        
            @include celular {
                font-size: 4rem;
            }
    }

    .historia__btnFechar {
        width: 45px;
        position: fixed;
        top: 10px;
        right: 20px;
        cursor: pointer;

        &:hover {
            width: 44px;
            transition: all .4s;
        }

        @include celular {
            width: 40px;
            top: 10px;
            right: 8px;
        }
    }

    .apresentacao__titulo {
        padding: 2rem 0rem;
        color: $cor-links;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
    }

    .apresentacao__p {
        @include paragrafo;
    }

    .apresentacao__fonte {
        text-align: end;
        @include paragrafo;
        color: $cor-links;
        font-size: 14px;
        text-decoration: underline;
    }

    .apresentacao__tabela--titulo {
        font-family: $fonte-titulo;
        font-weight: 300;
        text-align: center;
        margin-bottom: 1rem;
    }

    .apresentacao__tabela--cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .apresentacao__tabela--card {
        max-width: 450px;
        height: 380px;
        background: linear-gradient(45deg, #56CBF9, #4c96a5);
        padding: 1rem;
        display: grid;
        place-content: center;

    }

    .apresentacao__tabela--card div {
        margin-bottom: 1rem;
    }

    .tabela__card--titulo {
        font-family: $fonte-titulo;
        font-weight: 100;
        text-align: center;
        font-size: 1.7rem;
    }

    .tabela__card--info {
        text-align: center;
        color: #fff;
        font-family: $fonte-corpo;
        font-weight: 400;
        font-size: 2rem;
    }

}