.historia {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url("../img/historia/background-historia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 110vh;

    @include celular {
        height: 115vh;
        
    }

    .historia__conteudo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 3rem;
    }

    .historia__titulo {
        color: $cor-header;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
        

            @include celular {
                font-size: 2.2rem;
                padding-top: 2rem;
            }

    }

    .historia__info--img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .historia__logo {
        width: 300px;
    }

    .historia__info {
        width: 400px
    }

    .historia__info--p {
        @include paragrafo;
        color: #fff;
    }

    .historia__link--btn {
        display: flex;
        justify-content: center;
    }

    .historia__link {
        padding: 1rem;
        background-color: $cor-links;
        color: #fff;
        text-align: center;
        margin: 1rem auto;
        max-width: 12.5rem;
        border-radius: 10px;
        font-family: $fonte-titulo;
        font-size: 1.2rem;
        box-shadow: 1px 5px 10px 1px #fff;
        border: none;
        cursor: pointer;


            &:hover  {
                background-color: $cor-links;
                box-shadow: 5px 1px 5px 1px #fff;
                transition: all .6s;
            }
    }

    /******** MODAL HISTORIA ********/
    .historia__container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background-color: #fff;
        z-index: 4;
        animation: slidein 1s forwards;
    }

    .historia__container.open {
        display: block;
       
    }

    .historia__modal--cabecalho {
        background: linear-gradient(
            rgba(0,0,0, 0.1),
            rgba(0,0,0, 0.1)),

            url("../img/historia/modal-fotos/modal-cabecalho.webp");
            height: 100vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;

            display: grid;
            place-content:  center;
    }

    .historia__modal--titulo {
        color: $cor-header;
        font-family: $fonte-subtitulo;
        font-size: 6rem;
        text-align: center;
        
        
            @include celular {
                font-size: 4rem;
            }
    }

    .historia__btnFechar {
        width: 45px;
        position: fixed;
        top: 10px;
        right: 20px;
        cursor: pointer;
        z-index: 4;

        &:hover {
            width: 44px;
            transition: all .4s;
        }

        @include celular {
            width: 40px;
            top: 10px;
            right: 8px;
        }
    }

    .apresentacao__titulo {
        padding: 2rem 0rem;
        color: $cor-links;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
    }

    .apresentacao__p {
        @include paragrafo;
    }

    .apresentacao__fonte {
        text-align: end;
        @include paragrafo;
        color: $cor-links;
        font-size: 14px;
        text-decoration: underline;
    }

    .apresentacao__tabela--titulo {
        font-family: $fonte-titulo;
        font-weight: 300;
        text-align: center;
        margin: 1rem 0rem;
        font-size: 2rem;
    }

    .apresentacao__tabela--cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 2rem;
        justify-items: center;

        @include celular {
            display: grid; 
            grid-template-columns: 1fr;
            justify-items: center;
            gap: 2rem;
        }
     
    }

    .apresentacao__tabela--card {
        width: 300px;
        padding: .6rem;
        position: relative;
        margin-top: 4rem;
        text-align: center;
        border-radius: 6px;
        background: linear-gradient(45deg, #56CBF9, #16697A);
        box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);

        &:hover {
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            transition: all .5s;
        }

        &:hover .tabela__card--cabecalho {
            box-shadow: 5px 5px 0px 0px #fff;
            transition: all .5s;
        }
    }

    .tabela__card--ceara {
        display: grid;
        place-content: center;
    }

    .tabela__card--cabecalho {
        width: 200px;
        position: absolute;
        top: -40px;
        left: 15%;
        display: grid;
        place-content: center;
        cursor: pointer;
        box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
        padding: .4rem;
        background-color: $cor-links;

       
    }

    .tabela__card--titulo {
        font-family: $fonte-titulo;
        font-weight: 300;
        font-size: 2rem;
        color: #fff;
    }

    .tabela__card--popTotal {
        margin: 1rem 0rem;
    }

    .tabela__card--popTotal h3 {
        font-size: 1.5rem;
        font-family: $fonte-titulo;
        font-weight: 300;
    }

    .tabela__card--popTotal p {
        font-family: $fonte-corpo;
        color: #fff;
        font-size: 2rem;
    }

    .tabela__card--popUrbana {
        margin-bottom: 1rem;
    }

    .tabela__card--popUrbana h3 {
        font-size: 1.5rem;
        font-family: $fonte-titulo;
        font-weight: 300;
    }

    .tabela__card--popUrbana p {
        font-family: $fonte-corpo;
        color: #fff;
        font-size: 2rem;
    }

    .tabela__card--popRural h3 {
        font-size: 1.5rem;
        font-family: $fonte-titulo;
        font-weight: 300;
    }

    .tabela__card--popRural p {
        font-family: $fonte-corpo;
        color: #fff;
        font-size: 2rem;
    }

    .tabela__card--tituloPb {
        font-size: 1.8rem;
        font-family: $fonte-titulo;
        font-weight: 300;
        color: #fff;
    }

    .tabela__card--popTotalPb {
        margin-top: 3rem;
    }

    .tabela__card--popTotalPb h3 {
        font-size: 1.5rem;
        font-family: $fonte-titulo;
        font-weight: 300;
    }

    .tabela__card--popTotalPb p {
        font-family: $fonte-corpo;
        color: #fff;
        font-size: 2rem;
    }

    .tabela__card--popUrbanaPb {
        margin-top: 1rem;
    }

    .tabela__card--popUrbanaPb h3 {
        font-size: 1.5rem;
        font-family: $fonte-titulo;
        font-weight: 300;
    }

    .tabela__card--popUrbanaPb p {
        font-family: $fonte-corpo;
        color: #fff;
        font-size: 2rem;
    }

    .tabela__card--outros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .5rem;
        margin-top: 1rem;
    }

    .card__outros--h3 {
        font-size: 1rem;
        font-family: $fonte-titulo;
        font-weight: 300;
    }

    .card__outros--p {
        font-family: $fonte-corpo;
        color: #fff;
        font-size: 1.5rem;
    }

    .tabela__fonte {
        text-align: end;
        @include paragrafo;
        color: $cor-links;
        font-size: 14px;
        text-decoration: underline;
    }

   .img {
    width: 450px;
    display: flex;
    justify-content: center;

        @include celular {
            width: 320px;
        }

   }

   .localidade__pb--titulo {
        padding: 2rem 0rem;
        color: $cor-links;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
   }

   .localidade__pb--p {
        @include paragrafo;
   }

   .vizinhos__pb--titulo {
        padding: 2rem 0rem;
        color: $cor-links;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
   }

   .vizinhos__pb--p {
        @include paragrafo;
   }

   .vizinhos__localidade {
        display: flex;
        align-items: center;
        gap: .2rem;
        padding: 0rem 1rem;
   }

   .vizinhos__localidade span {
    font-weight: 900;
   }

   .vizinhos__localidade li {
        font-family: $fonte-corpo;
   }



}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }


