.historia {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url("../img/historia/background-historia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 110vh;

    @include celular {
        height: 115vh;
        
    }

    .historia__conteudo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 3rem;
    }

    .historia__titulo {
        color: $cor-header;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
        

            @include celular {
                font-size: 2.2rem;
                padding-top: 2rem;
            }

    }

    .historia__info--img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .historia__logo {
        width: 300px;
    }

    .historia__info {
        width: 400px
    }

    .historia__info--p {
        @include paragrafo;
        color: #fff;
    }

    .historia__link--btn {
        display: flex;
        justify-content: center;
    }

    .historia__link {
        padding: 1rem;
        background-color: $cor-links;
        color: #fff;
        text-align: center;
        margin: 1rem auto;
        max-width: 12.5rem;
        border-radius: 10px;
        font-family: $fonte-titulo;
        font-size: 1.2rem;
        box-shadow: 1px 5px 10px 1px #fff;
        border: none;
        cursor: pointer;


            &:hover  {
                background-color: $cor-links;
                box-shadow: 5px 1px 5px 1px #fff;
                transition: all .6s;
            }
    }

    /******** MODAL HISTORIA ********/
    .historia__container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background-color: #fff;
        z-index: 4;
        animation: slidein 1s forwards;
    }

    .historia__container.open {
        display: block;
       
    }


    .historia__modal--cabecalho {
        background: linear-gradient(
            rgba(0,0,0, 0.1),
            rgba(0,0,0, 0.1)),

            url("../img/historia/modal-fotos/background-modal.webp");
            height: 100vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;

            display: grid;
            place-content:  center;
    }

    .historia__modal--titulo {
        color: $cor-header;
        font-family: $fonte-subtitulo;
        font-size: 6rem;
        text-align: center;
        
        
            @include celular {
                font-size: 4rem;
            }
    }

    .historia__btnFechar {
        width: 45px;
        position: fixed;
        top: 10px;
        right: 20px;
        cursor: pointer;
        z-index: 4;

        &:hover {
            width: 44px;
            transition: all .4s;
        }

        @include celular {
            width: 40px;
            top: 10px;
            right: 8px;
        }
    }

    .historia__modal--conteudo {
        background-color: #ECECEC;
    }

    .apresentacao__titulo {
        padding: 2rem 0rem;
        color: $cor-links;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
    }

    .apresentacao__container {
        background-image: url("../img/historia/modal-fotos/background-cabecalho.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .apresentacao__info {
        background-color: rgba(162, 162, 162, 0.1);
        box-shadow: 1px 1px 10px 1px #000;
        width: 75rem; /* 1200px */
        margin: 0 auto;
        padding: 1rem 0rem;

        @include celular {
            width: 21.2rem; /*340px*/
        }
    }

    .apresentacao__p {
        @include paragrafo;
    }

    .apresentacao__fonte {
        text-align: end;
        @include paragrafo;
        color: $cor-links;
        font-size: 14px;
        text-decoration: underline;
    }

    .apresentacao__tabela {
        background-image: radial-gradient(circle, #56cbf9, #30a3dc, #0d7cbd, #00569b, #053177);
        padding: 1.5rem 0rem;

        @include celular {
            border-bottom-right-radius: 80%;
        }
        
    }

    .apresentacao__tabela--titulo {
        font-family: $fonte-titulo;
        font-weight: 300;
        text-align: center;
        // margin: 1rem 0rem;
        font-size: 2rem;
        color: #fff;

    }

    .apresentacao__tabela--cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 2rem;
        justify-items: center;

        @include celular {
            display: grid; 
            grid-template-columns: 1fr;
            justify-items: center;
            gap: 2rem;
        }
     
    }

    .apresentacao__tabela--card {
        width: 300px;
        padding: .6rem;
        position: relative;
        margin-top: 4rem;
        text-align: center;
        border-radius: 6px;
        background: linear-gradient(45deg, #56CBF9, #16697A);
        box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);

        &:hover {
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            transition: all .5s;
        }

        &:hover .tabela__card--cabecalho {
            box-shadow: 5px 5px 0px 0px #fff;
            transition: all .5s;
        }
    }

    .tabela__card--ceara {
        display: grid;
        place-content: center;
    }

    .tabela__card--cabecalho {
        width: 200px;
        position: absolute;
        top: -40px;
        left: 15%;
        display: grid;
        place-content: center;
        box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
        padding: .4rem;
        background-color: $cor-links;

       
    }

    .tabela__card--titulo {
        font-family: $fonte-titulo;
        font-weight: 300;
        font-size: 2rem;
        color: #fff;
    }

    .tabela__card--popTotal {
        margin: 1rem 0rem;
    }

    .tabela__card--popTotal h3 {
        font-size: 1.5rem;
        font-family: $fonte-titulo;
        font-weight: 300;
    }

    .tabela__card--popTotal p {
        font-family: $fonte-corpo;
        color: #fff;
        font-size: 2rem;
    }

    .tabela__card--popUrbana {
        margin-bottom: 1rem;
    }

    .tabela__card--popUrbana h3 {
        font-size: 1.5rem;
        font-family: $fonte-titulo;
        font-weight: 300;
    }

    .tabela__card--popUrbana p {
        font-family: $fonte-corpo;
        color: #fff;
        font-size: 2rem;
    }

    .tabela__card--popRural h3 {
        font-size: 1.5rem;
        font-family: $fonte-titulo;
        font-weight: 300;
    }

    .tabela__card--popRural p {
        font-family: $fonte-corpo;
        color: #fff;
        font-size: 2rem;
    }

    .tabela__card--tituloPb {
        font-size: 1.8rem;
        font-family: $fonte-titulo;
        font-weight: 300;
        color: #fff;
    }

    .tabela__card--popTotalPb {
        margin-top: 3rem;
    }

    .tabela__card--popTotalPb h3 {
        font-size: 1.5rem;
        font-family: $fonte-titulo;
        font-weight: 300;
    }

    .tabela__card--popTotalPb p {
        font-family: $fonte-corpo;
        color: #fff;
        font-size: 2rem;
    }

    .tabela__card--popUrbanaPb {
        margin-top: 1rem;
    }

    .tabela__card--popUrbanaPb h3 {
        font-size: 1.5rem;
        font-family: $fonte-titulo;
        font-weight: 300;
    }

    .tabela__card--popUrbanaPb p {
        font-family: $fonte-corpo;
        color: #fff;
        font-size: 2rem;
    }

    .tabela__card--outros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .5rem;
        margin-top: 1rem;
    }

    .card__outros--h3 {
        font-size: 1rem;
        font-family: $fonte-titulo;
        font-weight: 300;
    }

    .card__outros--p {
        font-family: $fonte-corpo;
        color: #fff;
        font-size: 1.5rem;
    }

    .tabela__fonte {
        text-align: end;
        @include paragrafo;
        color: $cor-links;
        font-size: 14px;
        text-decoration: underline;
    }

    .historia__slider--fotos {
        background-color: brown;
    }

   .imgSlider {
        width: 450px;
        display: flex;
        justify-content: center;
        border-radius: 10px;

        @include celular {
            width: 320px;
        }

   }

   .imgSlider legend {
        font-family: $fonte-corpo;
        text-align: center;
        
        @include celular {
            font-size: .8rem;
        }
   }

   .localidade__pb {
        background-image: url("../img/historia/modal-fotos/background-cabecalho.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
   }

   .localidade__pb--titulo {
        padding: 2rem 0rem;
        color: $cor-links;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
   }

   .localidade__pb--info {
        background-color: rgba(162, 162, 162, 0.1);
        box-shadow: 1px 1px 10px 1px #000;
        width: 75rem; /* 1200px */
        margin: 2rem auto;
        padding: 1rem 0rem;


        @include celular {
            width: 21.2rem; /*340px*/
        }
   }

   .localidade__pb--p {
        @include paragrafo;
   }

   .vizinhos__pb--titulo {
        padding: 2rem 0rem;
        color: $cor-links;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
   }

   .vizinhos__pb--info {
        background-color: rgba(162, 162, 162, 0.1);
        box-shadow: 1px 1px 10px 1px #000;
        width: 75rem; /* 1200px */
        margin: 2rem auto;
        padding: 1rem 0rem;


        @include celular {
            width: 21.2rem; /*340px*/
        }
   }

   .vizinhos__pb {
        background-image: url("../img/historia/modal-fotos/background-cabecalho.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
   }

   .vizinhos__pb--p {
        @include paragrafo;
   }

   .vizinhos__localidade {
        display: flex;
        align-items: center;
        gap: .2rem;
        padding: 0rem 1rem;
   }

   .vizinhos__localidade span {
    font-weight: 900;
   }

   .vizinhos__localidade li {
        font-family: $fonte-corpo;
   }

   .historiaSlider2 {
        
    .imgSlider {
        width: 420px;
        border-radius: 10px;

        @include celular {
            width: 320px;
        }
    }

    .imgSlider legend {
        font-family: $fonte-corpo;

        @include celular {
            font-size: .8rem;
        }
       
    }
   
   
    }

    .transportes {
        background-image: url("../img/historia/modal-fotos/background-cabecalho.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .transportes__titulo {
        color: $cor-links;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
        padding-bottom: 2rem;
    }

    .transportes__info {
        background-color: rgba(162, 162, 162, 0.1);
        box-shadow: 1px 1px 10px 1px #000;
        width: 75rem; /* 1200px */
        margin: 2rem auto;
        padding: 1rem 0rem;


        @include celular {
            width: 21.2rem; /*340px*/
        }
    }

    .transportes__info p {
        @include paragrafo;
    }

    .aspectos__historicos {
        background-image: url("../img/historia/modal-fotos/background-cabecalho.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .aspectos__historicos--titulo {
        color: $cor-links;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
        padding: 2rem 0rem;
    }

    .aspectos__historicos--info {
        background-color: rgba(162, 162, 162, 0.1);
        box-shadow: 1px 1px 10px 1px #000;
        width: 75rem; /* 1200px */
        margin: 2rem auto;
        padding: 1rem 0rem;


        @include celular {
            width: 21.2rem; /*340px*/
        }
    }

    .aspectos__historicos--info p {
        @include paragrafo;
    }

    .certidao__nascimento {
        background-image: url("../img/historia/modal-fotos/background-cabecalho.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .certidao__titulo {
        color: $cor-links;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
        padding: 2rem 0rem;
    }

    .certidao__info {
        background-color: rgba(162, 162, 162, 0.1);
        box-shadow: 1px 1px 10px 1px #000;
        width: 75rem; /* 1200px */
        margin: 2rem auto;
        padding: 1rem 0rem;


        @include celular {
            width: 21.2rem; /*340px*/
        }
    }

    .certidao__p {
        @include paragrafo;
    }

    .certidao__p--item {
        font-family: $fonte-corpo; 
        padding: 0rem 1rem;
        letter-spacing: 1px;
    }

    .certidao__p--item strong {
        font-weight: 700;
    }

    .certidao__pFooter {
        text-align: end;
        @include paragrafo;
        color: $cor-links;
        font-size: 14px;
        text-decoration: underline;

    }

    .prosa {
        background-image: url("../img/historia/modal-fotos/background-cabecalho.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .prosa__titulo {
        color: $cor-links;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
        padding: 2rem 0rem;
    }

    .prosa__info {
        font-family: $fonte-corpo;
        text-align: center;
        background-color: rgba(162, 162, 162, 0.1);
        box-shadow: 1px 1px 10px 1px #000;
        padding: 1rem 0rem;
        width: 400px;
        margin: 0 auto;
    }

    .prosa__info--poema {
        margin-bottom: 1rem;
    }

    .prosa__p {
        font-family: $fonte-corpo;        
        text-align: center;
        font-weight: 700;
        padding: 0 1rem;

        @include celular {
            margin: 1rem 0;
        }
    }

    .espaco {
        background-image: url("../img/historia/modal-fotos/background-cabecalho.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .espaco__titulo {
        color: $cor-links;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
        padding: 2rem 0rem;
    }

    .espaco__info {
        background-color: rgba(162, 162, 162, 0.1);
        box-shadow: 1px 1px 10px 1px #000;
        width: 75rem; /* 1200px */
        margin: 0rem auto;
        padding: 1rem 0rem;


        @include celular {
            width: 21.2rem; /*340px*/
        }
    }

    .espaco__info p {
        @include paragrafo;
    }

    .espaco__trapia {
        background-image: radial-gradient(circle, #56cbf9, #30a3dc, #0d7cbd, #00569b, #053177);
    }

    .espaco__trapia--titulo {
        font-family: $fonte-titulo;
        font-weight: 300;
        font-size: 1.7rem;
        color: #fff;
        text-align: center;
        padding: 2rem 0rem;
    }

    .espaco__trapia--cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 70vh;
        gap: 2rem;

        @include celular {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 90vh;
            gap: .5rem;
        }
    }

    .espaco__trapia--card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 450px;
        height: 260px;
        place-content: center;
        border-radius: 6px;
        background: linear-gradient(45deg, #56CBF9, #16697A);
        box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
        padding: .4rem;
        position: relative;

        @include celular {
            width: 320px;
        }

        &:hover {
            transition: all .5s;
            box-shadow: 0px 0px 10px 0px #fff;
        }

        &:hover .trapia--card--titulo {
            box-shadow: 5px 5px 0px 0px #fff;
            transition: all .5s;
        }
    }

    .trapia--card--titulo {
        width: 100px;
        position: absolute;
        top: -42px;
        left: 40%;
        font-family: $fonte-titulo;
        box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
        padding: .4rem;
        background-color: $cor-links;
        text-align: center;
        color: #fff;
        font-weight: 100;

        @include celular {
            width: 100px;
            position: absolute;
            top: -42px;
            left: 33%;
        }

       
    }

    .trapia__card--info {
        background-color: #fff;
    }

    .caracteristica {
        width: 280px;
        position: absolute;
        top: -42px;
        left: 20%;

        @include celular {
            width: 280px;
            position: absolute;
            top: -42px;
            left: 7%;
        }
    }

    .trapia__card--div {
        margin-bottom: 1rem;
    }

    .trapia__card--nome {
        font-family: $fonte-titulo;
        text-align: center;
    }

    .trapia__card--dados {
        font-family: $fonte-corpo;
        color: #fff;
        text-align: center;
    }

    .card__trapia--footer {
        font-family: $fonte-corpo;
        text-align: end;
        color:#fff;
    }

    .clima {
        background-image: url("../img/historia/modal-fotos/background-cabecalho.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .clima__titulo {
        color: $cor-links;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
        padding: 2rem 0rem;
    }

    .clima__info {
        background-color: rgba(162, 162, 162, 0.1);
        box-shadow: 1px 1px 10px 1px #000;
        width: 75rem; /* 1200px */
        margin: 0rem auto;
        padding: 1rem 0rem;


        @include celular {
            width: 21.2rem; /*340px*/
        }
    }

    .clima__info p {
        @include paragrafo;
    }

    .solos {
        background-image: url("../img/historia/modal-fotos/background-cabecalho.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .solos__titulo {
        color: $cor-links;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
        padding: 2rem 0rem;
    }

    .solos__info {
        background-color: rgba(162, 162, 162, 0.1);
        box-shadow: 1px 1px 10px 1px #000;
        width: 75rem; /* 1200px */
        margin: 0rem auto;
        padding: 1rem 0rem;


        @include celular {
            width: 20rem; /*320px*/
        }
    }

    .solos p {
        @include paragrafo;
    }

    .solos__info p em {
        font-weight: 700;
    }

    .fauna {
        background-image: url("../img/historia/modal-fotos/background-cabecalho.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .fauna__titulo {
        color: $cor-links;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
        padding: 2rem 0rem;
    }

    .fauna__info {
        background-color: rgba(162, 162, 162, 0.1);
        box-shadow: 1px 1px 10px 1px #000;
        width: 75rem; /* 1200px */
        margin: 0rem auto;
        padding: 1rem 0rem;


        @include celular {
            width: 21.2rem; /*340px*/
        }
    }

    .fauna__info p {
        @include paragrafo;
    }

    .fauna__info--cards {
        background-image: radial-gradient(circle, #56cbf9, #30a3dc, #0d7cbd, #00569b, #053177);
        height: 70vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        @include celular {
            height: 100vh;
            gap: .5rem;
        }
    }

    .fauna__card {
        display: grid;
        place-content: center;
        justify-items: center;
        width: 400px;
        height: 290px;
        border-radius: 6px;
        background: linear-gradient(45deg, #56CBF9, #16697A);
        box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);

        &:hover {
            transition: all .5s;
            box-shadow: 1px 1px 10px 0px #fff;
        }

        @include celular {
            width: 340px;
            margin: 0rem .4rem;
        }
       
    }

    .fauna__card--titulo {
        font-family: $fonte-titulo;
        font-weight: 300;
        font-size: 1.4rem;
        color: #000;
        text-align: center;
        padding-bottom: 1rem;
    }

    .fauna__card--info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-content: center;
        justify-items: center;
        gap: 3rem;
    }

    .fauna__card--lista1 p {
        font-family: $fonte-corpo;
        color: #fff;
        font-size: 1.2rem;

        @include celular {
            font-size: 1.2rem;
        }
    }

    .fauna__card--lista2 p {
        font-family: $fonte-corpo;
        color: #fff;
        font-size: 1.2rem;

        @include celular {
            font-size: 1.2rem;
        }
    }

    .flora__card {
        display: grid;
        place-content: center;
        justify-items: center;
        width: 400px;
        height: 290px;
        border-radius: 6px;
        background: linear-gradient(45deg, #56CBF9, #16697A);
        box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);

        &:hover {
            transition: all .5s;
            box-shadow: 1px 1px 10px 0px #fff;
        }

        @include celular {
            width: 340px;
            margin: 0rem .4rem;
        }
    }

    .flora__card--info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-content: center;
        justify-items: center;
        gap: 1rem;

        @include celular {
            font-size: 1.2rem;
        }
    }

    .flora__card--lista1 p {
        font-family: $fonte-corpo;
        color: #fff;
        font-size: 1.2rem;

        @include celular {
            font-size: 1.2rem;
        }
    }

    .flora__card--lista2 p {
        font-family: $fonte-corpo;
        color: #fff;
        font-size: 1.2rem;

        @include celular {
            font-size: 1.2rem;
        }
    }

    .caatinga {
        background-image: url("../img/historia/modal-fotos/background-cabecalho.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .caatinga__titulo {
        color: $cor-links;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
        padding: 2rem 0rem;
    }

    .caatinga__info {
        background-color: rgba(162, 162, 162, 0.1);
        box-shadow: 1px 1px 10px 1px #000;
        width: 75rem; /* 1200px */
        margin: 0rem auto;
        padding: 1rem 0rem;


        @include celular {
            width: 21.2rem; /*340px*/
        }
    }

    .caatinga__p {
        @include paragrafo;
    }

    .caatinga__prosaVerso--titulo {
        font-family: $fonte-titulo;
        font-weight: 300;
        font-size: 1.4rem;
        color: #000;
        text-align: center;
        padding-bottom: 1rem;
        margin-top: 2rem;
    }

    .caatinga__prosaVerso--info {
        font-family: $fonte-corpo;
        text-align: center;
        background-color: rgba(162, 162, 162, 0.1);
        box-shadow: 1px 1px 10px 1px #000;
        padding: 1rem 0rem;
        width: 320px;
        margin: 2rem auto;
    }

    .caatinga__prosaVerso--autor {
        text-align: center;
        margin-top: 1rem;

    }

    .religiao {
        background-image: url("../img/historia/modal-fotos/background-cabecalho.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include celular {
            margin-bottom: 2rem;
        }
    }

    .religiao__titulo {
        color: $cor-links;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
        padding: 2rem 0rem;
    }

    .religiao__info {
        background-color: rgba(162, 162, 162, 0.1);
        box-shadow: 1px 1px 10px 1px #000;
        width: 75rem; /* 1200px */
        margin: 0rem auto;
        padding: 1rem 0rem;


        @include celular {
            width: 21.2rem; /*340px*/
        }
    }

    .religiao__info--titulo {
        font-family: $fonte-titulo;
        font-weight: 300;
        font-size: 1.4rem;
        color: #000;
        text-align: center;
        padding-bottom: 1rem;
        margin-top: 2rem;
    }

    .religiao__info--p {
        @include paragrafo;
        margin-bottom: 1rem;
    }

    .religiao__info--midias {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    [width="423"] {
        @include celular {
            width: 300px;
        }
    }

    .religiao__foto--paroquia {

        @include celular {
            width: 300px;
        }
      
    }

    .tabela--vigarios--titulo {
        font-family: $fonte-titulo;
        font-weight: 300;
        font-size: 1.2rem;
        color: #000;
        text-align: center;
        padding: 0rem .3rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .tabela__vigarios--lista {
        text-align: center;  
    }

    .tabela__vigarios--lista p {
        font-family: $fonte-corpo;
        padding: .3rem 0rem;
    }

    .tabela__vigarios--lista hr {
        margin: 0 auto;
    }

    .politica {
        background-image: url("../img/historia/modal-fotos/background-cabecalho.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .politica__titulo {
        color: $cor-links;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
        padding: 2rem 0rem;
    }

    .politica__info {
        background-color: rgba(162, 162, 162, 0.1);
        box-shadow: 1px 1px 10px 1px #000;
        width: 75rem; /* 1200px */
        margin: 0rem auto;
        padding: 1rem 0rem;


        @include celular {
            width: 21.2rem; /*340px*/
        }
    }

    .politica__info--p {
        @include paragrafo;
    }

    .corolnel__lista--item {
        padding: 0 1rem;
        font-family: $fonte-corpo;
    }

    .prefeitos__titulo {
        font-family: $fonte-titulo;
        font-weight: 300;
        font-size: 1.2rem;
        color: #000;
        text-align: center;
        padding: 0rem .3rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .prefeitos__nomes {
        text-align: center;
    }

    .prefeitos__nomes p {
        font-family: $fonte-corpo;
        padding: .3rem 0rem;
    }

    .prefeitos__nomes hr {
        margin: 0 auto;
    }

    .versos {
        background-image: url("../img/historia/modal-fotos/background-cabecalho.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .versos__titulo {
        color: $cor-links;
        font-family: $fonte-subtitulo;
        font-size: 3rem;
        text-align: center;
        padding: 2rem 0rem;
    }

    .versus__subtitulo {
        font-family: $fonte-titulo;
        font-weight: 300;
        font-size: 1.2rem;
        color: #000;
        text-align: center;
        margin-bottom: 2rem;
        padding: 0 .4rem;
    }

    .versos__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .verso__card {
        background-color: rgba(162, 162, 162, 0.1);
        box-shadow: 1px 1px 10px 1px #000;
        width: 20rem; /* 320px */
        margin: 0rem auto;
        padding: 1rem 0rem;
        text-align: center;

    }

    .verso__card--p {
        font-family: $fonte-corpo;
    }

    .verso__card--p em {
        font-weight: 800;
        font-size: 1.4rem;
    }

    .verso__autor {
        margin-top: 1rem;   
        font-family: $fonte-corpo;
        font-weight: 800;
    }



}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.swiper {
    width: 100%;
    height: 65vh;
    padding-top: 50px;
    padding-bottom: 50px;

    @include celular {
        height: 45vh;
    }
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }


