.projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;


        .projeto__img {
            width: 600px; 
        }

        .projeto__info {
            width: 500px;
        }
}