.slider {
    background-color: #000;
    height: 80vh;
    position: relative;

        @include celular {
            height: 50vh;
        }

        @include tablet {
            height: 60vh;
        }

        .slider__galeria {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80vh;
            align-items: center;
            position: relative;
          
                @include celular {
                    height: 50vh;
                }

                @include tablet {
                    height: 60vh;
                }
            }

        .slider__img {
            position: absolute;
            width: 80vw;
            height: 70vh;
            opacity: 0;
            transition: opacity 600ms;
            box-shadow: 10px 10px 10px 4px #fff;
            border-radius: 10px;

                @include celular {
                    width: 100vw;
                    height: 40vh;
                }

                @include tablet {
                    width: 100vw;
                    height: 50vh;
                } 
         }

        .slider__img.selected {
            opacity: 1;
        }
}