.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
    gap: 10rem;

        .sobre__img {
            width: 400px;       
        }

        .sobre__info {
            width: 500px;
        }

        .sobre__titulo {
            font-family: $fonte-subtitulo;
            font-size: $size-titulo;
            color: $cor-links;
            padding: 1rem;
            text-align: center;
        }

        .sobre__p {
            @include paragrafo;
        }

        .sobre__logos {
            display: flex;
            gap: 1rem;
            justify-content: center;


                .logo__img {
                    width: 80px;
                }
        }

        



}