.sobre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    gap: 10rem;

            @include celular {
                gap: 1rem;
            }

        .sobre__img {
            width: 400px;  

                @include celular {
                    width: 280px;  
                }
        }

        .sobre__info {
            width: 500px;
        }

        .sobre__titulo {
            font-family: $fonte-subtitulo;
            font-size: $size-titulo;
            color: $cor-links;
            padding: 1rem;
            text-align: center;

                @include celular {
                    font-size: 2.5rem;  
                }
        }

        .sobre__p {
            @include paragrafo;

                @include celular {
                    font-size: 1rem;  
                }
        }

        .sobre__logos {
            display: flex;
            gap: 1rem;
            justify-content: center;


                .logo__img {
                    width: 80px;

                    @include celular {
                        width: 60px;  
                    }
                }

                
        }
}

