.sobre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
    gap: 10rem;

        .sobre__img {
            width: 400px;  
        }

        .sobre__info {
            width: 500px;
        }

        .sobre__titulo {
            font-family: $fonte-subtitulo;
            font-size: $size-titulo;
            color: $cor-links;
            padding: 1rem;
            text-align: center;
        }

        .sobre__p {
            @include paragrafo;
        }

        .sobre__logos {
            display: flex;
            gap: 1rem;
            justify-content: center;


                .logo__img {
                    width: 80px;
                }
        }

/*********** MEDIA QUERIES - RESPONSIVIDADE ***********/

/*********** CELULAR ***********/
@media(min-width: 0px) and (max-width: 480px) {
    .sobre {
        padding: 3rem 0;
        column-gap: 2rem;
    }  

    .sobre__img {
        width: 280px;  
    }

    .sobre__titulo {
        font-size: 2.4rem;
    }

    .sobre__logos {
        gap: 0.5rem;
    }
}

}

