
/*********** VARIAVEIS ***********/
$fonte-titulo: 'Russo One', sans-serif;
$fonte-subtitulo: 'Londrina Solid', cursive;
$fonte-corpo: 'Rajdhani', sans-serif;
$cor-header: #56CBF9;
$cor-links: #053177;
$size-titulo: 4rem;
$size-corpo: 2rem;


/*********** CONFIGURAÇÃO ***********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li, ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

img {
    max-width: 100%;
    display: block;
}

.js-scroll {
    overflow: auto;
}

.js-scroll.off {
    overflow: hidden;
}

/*********** MIXINS ***********/
@mixin paragrafo {
    font-family: $fonte-corpo;
    // font-weight: bold;
    line-height: 1.6;
    letter-spacing: 1px;
    padding: .5rem 1rem;
}

@mixin celular {
    @media (min-width: 0px) and (max-width:480px){
        @content;
    }
}

@mixin tablet {
    @media (min-width: 480px) and (max-width:768px){
        @content;
    }
}

@mixin desktop {
    @media (min-width: 768px) and (max-width:1280px){
        @content;
    }
}

/*********** PÁGINA ***********/
@import "header";
@import "slider";
@import "sobre";
@import "./cronograma/cronograma";
@import "./cronograma/cronograma-modais";
@import "./projetos/projetos";
@import "./projetos/projeto-musica";
@import "museu";
@import "./equipe";
@import "./historia";
@import "./artistas";
@import "footer";

