@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Spinnaker&family=Voltaire&display=swap');

:root {
    --fonte-titulos: 'Voltaire', sans-serif;
    --fonte-subtitulo: 'Satisfy', cursive;
    --fonte-corpo: 'Spinnaker', sans-serif;
    --size-titulos: 4rem;
    --size-subtitulo: 2rem;
    --size-corpo: 1.2rem;
    --cor-header: #7699D4;
    --cor-section1: #469ED8;
    --cor-section2: #6EEB83;
    --cor-botoes: #5941A9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

/**************** HEADER - CABECALHO ***************/
.header {
    background-color: #7699D4;
}


.nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 200px;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.nav img {
    max-width: 200px;
}

.nav-itens {
    padding: 0.5rem;
    color: #000;
    box-shadow: 2px 1px 6px 1px #000;
    font-family: var(--fonte-titulos);
    font-size: var(--size-corpo);
}

.nav-itens:hover {
    box-shadow: 1px 1px 1px 1px #000;
    transition: all 0.6s;
}

/**************** MAIN - CONTEUDO ***************/

/**************** SOBRE NÓS ***************/
.sobre-nos {
    padding-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-section2);
    border-top: 3px solid #000;
}

.img-sobre-nos {
    width: 450px;
}

.historico {
    max-width: 550px;
}

.historico h1 {
    font-family: var(--fonte-subtitulo);
    font-size: var(--size-titulos);
    text-align: center;
}

.historico p {
    padding: 0.5rem;
    font-family: var(--fonte-corpo);
    line-height: 1.4;
    letter-spacing: 0.5px;
    margin: 0 auto;
}

/**************** AGENDA ***************/
.agenda {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.agenda-info {
    margin-top: 5rem;
}

.agenda-info h2 {
    font-family: var(--fonte-subtitulo);
    font-size: var(--size-titulos);
    text-align: center;
    margin-bottom: 2rem;
}

.agenda-info p {
    font-family: var(--fonte-corpo);
    line-height: 1.4;
    letter-spacing: 0.5px;
    width: 500px;
    margin-bottom: 1rem;
}

.img-agenda {
    width: 500px;
}

/**************** CARDS-AGENDA ***************/
.acordion-cards {
    padding-bottom: 3rem;
}

.janeiro {
    margin: 0 auto;
    max-width: 920px;
}

.fevereiro {
    margin: 0 auto;
    max-width: 920px;
}

.mês {
    text-align: center;
    font-family: var(--fonte-titulos);
    font-size: var(--size-subtitulo);
    padding: 1rem;
    background-color: var(--cor-header);
    box-shadow: 1px 1px 10px 1px #000;
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 5rem;
    perspective: 50px;
}

.card-info {
    padding: 1rem;
    box-shadow: 1px 1px 10px 1px #000;
    transform: rotateX(1deg);
    
}

.card-info:hover {
    transform: rotateX(0deg);
    transition: all 0.6s;
}

.card-info h2 {
    font-family: var(--fonte-titulos);
    font-size: var(--size-subtitulo);
    text-align: center;
    background-color: yellow;
    border-radius: 50%;
    padding: 2rem;
    position: relative;
    bottom: 60px;
}

.card-info p {
    font-family: var(--fonte-corpo);
    position: relative;
    bottom: 30px;
}
