.projeto__modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;  
    overflow-y: auto;
    
   .modal__musica--titulo {
        font-family: $fonte-subtitulo;
        text-align: center;
        font-size: 6rem;
        color: #000;
        height: 100vh;
        background-image: url("../../img/projetos/musica/background-musica.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
   }

    .btn-fechar-musica {
        width: 60px;
        position: fixed;
        top: 10px;
        right: 20px;
        cursor: pointer;

        &:hover {
            width: 58px;
            transition: all .4s;
        }

        @include celular {
            width: 40px;
        }
    }

    .modal__musica--missao {
        margin-top: 3rem;
    }

    .modal__musica--missao {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;

    }

    .musica__missao--titulo {
        font-family: $fonte-subtitulo;
        text-align: center;
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    .musica__missao--paragrafos {
        background-color: rgba(162, 162, 162, 0.1);
        box-shadow: 1px 1px 10px 1px #000;
    }

    .musica__missao--p {
        width: 28rem; /* 450px */ 
        font-weight: bold;
        @include paragrafo;
    }

    .musica__img--missao {
        width: 31rem; /* 500px */
    }


}

.projeto__modal.ativo {
    display: block;
    animation: slideinModal 1s forwards;
}

@keyframes slideinModal {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }