/*************  APRESENTAÇÃO - INDEX.HTML  *************/
.projetos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10rem;

            @include celular {
                gap: 3rem;
                height: 170vh;
            }

            @include tablet {
                gap: 2rem;
                height: 170vh;
            }

        .projeto__img {
            width: 600px; 

                @include celular {
                    width: 300px;
                }

                @include tablet {
                    width: 400px;
                }
        }

        .projeto__info {
            width: 500px;

                @include celular {
                    width: 300px; 
                }
        }

        .projeto__titulo {
            font-family: $fonte-subtitulo;
            font-size: $size-titulo;
            color: $cor-links;
            padding: 1rem;
            text-align: center;

                @include celular {
                    font-size: 2.5rem;
                }
        }

        .projeto__p {
            @include paragrafo;
        }

    .projetos__links {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }   

    .projeto__link--img {
        width: 80px;
    }

    
}



