.projeto__modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;  
    overflow-y: auto;
    padding-bottom: 3rem;

    .projeto__modal--cabecalho {
        height: 100vh;
        background: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        

            @include celular {
                font-size: 5rem;
                padding: 0rem .4rem;
                border-bottom-left-radius: 50%;
            }
    }

    .logo__modal--cabecalho {
        width: 27.5rem; /* 440px */
        margin: 0 auto;

        @include celular {
            width: 310px;
        }
    }
    
   .modal__musica--titulo {
        font-family: $fonte-subtitulo;
        text-align: center;
        font-size: 6rem;
        color: #000;

        @include celular {
            font-size: 4rem;
        }
    }

    .btn-fechar-musica {
        width: 60px;
        position: fixed;
        top: 10px;
        right: 20px;
        cursor: pointer;
        z-index: 2;

        &:hover {
            width: 58px;
            transition: all .4s;
        }

        @include celular {
            width: 40px;
        }
    }

    .modal__musica--missao {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 3rem 0rem;

    }

    .musica__missao--titulo {
        font-family: $fonte-subtitulo;
        text-align: center;
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    .musica__missao--paragrafos {
        background-color: rgba(162, 162, 162, 0.1);
        box-shadow: 1px 1px 10px 1px #000;
    }

    .musica__missao--p {
        @include paragrafo;
        width: 28rem; /* 450px */ 
        font-weight: bold;
        

        @include celular {
            width: 20rem; /*320px*/
        }
    }

    .musica__img--missao {
        width: 31rem; /* 500px */

            @include celular {
                width: 300px;
            }
    }

    .modal__musica--projetoCabecalho {
        height: 100vh;
        background-image: url("../../img/projetos/musica/background-bandaMusica.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 3rem;
        border-bottom-right-radius: 110%;

        @include celular {
            background: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
        }
    }

    .modal__musica--projetoTitulo {
        font-family: $fonte-subtitulo;
        text-align: center;
        font-size: 6rem;
        color: #000;

        @include celular {
            font-size: 4.5rem;
        }
    }

    .bandaDeMusica {
        padding-bottom: 3rem;
    }

    .modal__musica--BandaDeMusica {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        @include celular {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            gap: 2rem;
        }
    }

    .musica__img--instrumento {
        width: 300px;

        @include celular {
            width: 200px;
        }
    }

    .musica__projeto--titulo {
        font-size: 3rem;
        font-family: $fonte-subtitulo;
        margin-bottom: 1rem;
        text-align: center;
    }

    .musica__projeto--paragrafos {
        background-color: rgba(162, 162, 162, 0.1);
        box-shadow: 1px 1px 10px 1px #000;
    }
    
    .musica__projeto--p {
        @include paragrafo;
        width: 28rem; /* 450px */

        @include celular {
            width: 20rem; /*320px*/
        }
    }

    .tocandoViolao--cabecalho {
        height: 100vh;
        background-image: url("../../img/projetos/musica/background-violao.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 3rem;
        border-bottom-left-radius: 110%;

        @include celular {
            @include celular {
                background: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
            }
        }
    }

    .tocandoViolao--titulo {
        font-family: $fonte-subtitulo;
        text-align: center;
        font-size: 6rem;
        color: #000;

        @include celular {
            font-size: 4.5rem;
        }

    }

    .tocandoViolao__sessao {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

            @include celular {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                gap: 2rem;
            }
    }

    .tocandoViolao--sobre {
        font-size: 3rem;
        font-family: $fonte-subtitulo;
        margin-bottom: 1rem;
        text-align: center;
    }

    .tocandoViolao--paragrafos {
        background-color: rgba(162, 162, 162, 0.1);
        box-shadow: 1px 1px 10px 1px #000; 
    }

    .tocandoViolao--p {
        @include paragrafo;
        width: 28rem; /* 450px */

        @include celular {
            width: 20rem; /*320px*/
        }
    }

    .tocandoViolao--img {
        width: 18.7rem; /* 300px */

        @include celular {
            width: 15.6rem; /*250px*/
        }
    }


}

.projeto__modal.ativo {
    display: block;
    animation: slideinModal 1s forwards;
}

@keyframes slideinModal {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 300px;

        @include celular {
            width: 310px;
            height: 250px;
        }
  }

