.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $cor-links;
    z-index: 2;
    animation: slidein 1s forwards;
    overflow-y: auto;

    .btn-fechar {
        width: 60px;
        position: fixed;
        top: 10px;
        right: 4px;
        cursor: pointer;

        &:hover {
            width: 58px;
            transition: all .4s;
        }

        @include celular {
            width: 40px;
            top: 10px;
            right: 8px;
        }
    }

    .modal__card--titulo {
        text-align: center;
        font-family: $fonte-subtitulo;
        color: #fff;
        margin: 2.5rem 0rem;
        font-size: 3rem;
    }

    .modal__cards {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        justify-content: center;
        align-items: center;
    }

    .modal__card {
        background-color: #dfe6e9;
        width: 25.6rem; /* 400px */
        padding: .5rem;
        text-align: center;
        display: flex;
        gap: .5rem;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin: 0rem .5rem;
        box-shadow: 1px 1px 10px #fff;

            @include celular {
                width: 21rem; /* 330px */
                margin-bottom: 1.5rem;
            }
            
            @include desktop {
                width: 23rem; /* 330px */
            }

            &:hover {
                background-color: #fff;
                transition: all .5s;
                box-shadow: 1px 1px 10px #000;
            }
    }

    .modal__card--data {
        font-family: $fonte-subtitulo;
        font-size: 2.2rem;
        border: 3px solid #000;
        border-radius: 50%;
        width: 100px;
        padding: .4rem;
    }

    .modal__card--evento {
        margin-bottom: 1rem;
    }

    .modal__card--eventoCategoria{
        font-family: $fonte-subtitulo;
        font-size: 1.8rem;
    }

    .modal__card--eventoNome {
        font-family: $fonte-corpo;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .modal__card--endereco {
        display: flex;
        gap: .3rem;
        align-items: center;
    }

    .modal__card--enderecoNome {
        font-family: $fonte-corpo;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .modal__card--hora {
        display: flex;
        gap: .3rem;
        align-items: center;
    }

    .modal__card--horaNome {
        font-family: $fonte-corpo;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .modal__card--colaborador {
        display: flex;
        gap: .3rem;
        align-items: center;
    }

    .modal__card--colaboradorNome {
        font-family: $fonte-corpo;
        font-weight: bold;
        text-align: start;
        font-size: 1.1rem;
    }

    .modal__card--instagram {
        display: flex;
        gap: .3rem;
        align-items: center;
    }

    .modal__card--instagramNome {
        font-family: $fonte-corpo;
        font-weight: bold;
        text-align: start;
        font-size: 1.1rem;
        color: $cor-section1;

        &:hover {
            text-decoration: underline;
        }
    }


}

.modal.ativo {
    display: block;
    transform: slidein 1s forwards;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }